* { margin: 0; padding: 0 }

.App {
  text-align: center;
}

.App-header {
  color: white;
  background-color: rgba(34,34,34,255);
  padding-bottom: 10px;
}

h1 {
  padding: 20px;
}
h2 {
  padding: 20px;
  color: black;
}

.text-field {
  margin-top: 25px;
  margin-bottom: 25px;
}

.loading {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  min-height: 400px;
  width: 30%;
  text-align: left;
  vertical-align: middle;
  border-radius: 10px;
}
.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.topLine {
  border-radius: 10px;
  background: #aaa;
  text-align: left;
}

ul {
  margin: 10px 10px;
  list-style-position: inside;
  position: relative;
}

li {
  margin: 10px 10px;
}

